<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.xiajhuan.summer.admin.common.security.mapper.SecurityMenuMapper">

    <select id="getPermissionsOfUser" parameterType="Long" resultType="String">
        SELECT
        t3.permissions
        FROM
        security_role_user t1
        LEFT JOIN security_role_menu t2
        ON t1.role_id = t2.role_id
        LEFT JOIN security_menu t3
        ON t2.menu_id = t3.id
        WHERE
        t1.user_id = #{userId}
        ORDER BY
        t3.weight
    </select>

</mapper>